# Dependencias
node_modules/

# Variables de entorno
# .env

# Archivos de build
build/
dist/

# Logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
*.log

# Otros (por si usas Next.js o similares)
.next/

# Sistema operativo
.DS_Store
Thumbs.db
